$primary-background-color: #1a2238;
$secondary-background-color: #d5d6db;
$button-color: #ff6a3d;
$heading-one-color: #f4db7d;
$heading-two-color: #9daaf2;
$paragraph-text-color: rgba(255, 255, 255, 0.606);
