@import "variables";
@import "mixin";
@import "media-query";

/* Import your variables, mixins, and media queries here */

/* About componenet StyleSheet */
.about-container {
  background-color: $secondary-background-color;
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;

    .content-container {
      h2 {
        @include styled-heading-2;
      }
      p {
        @include styled-paragraph;
      }
    }

    /* Add styles to your skill container */
    .skill-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      .skill {
        width: 10rem; /* Decrease the width */
        height: 10rem; /* Decrease the height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: white; /* Set the background color */
        border-radius: 8px; /* Add border-radius for shadowbox effect */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
          background-color 2s infinite;

        &:hover {
          transform: scale(1.1); /* Scale up on hover */
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
          cursor: pointer; /* Change cursor on hover */
        }

        .skill-image {
          height: 4rem; /* Decrease the image height */
          width: 4rem; /* Decrease the image width */
        }

        .skill-title {
          font-weight: bold;
          text-align: center;
        }

        /* Add the infinite background color change animation */
        animation: backgroundChange 5s infinite;

        @keyframes backgroundChange {
          0% {
            background-color: white;
          }
          50% {
            background-color: #d5d6db; /* Change to the desired background color */
          }
          100% {
            background-color: white;
          }
        }
      }
    }
  }
}

/* Hero component Stylesheet */
.hero-container {
  .hero-image {
    transition: transform 0.3s ease-in-out;

    &:hover {
      animation: pulse 1s infinite alternate;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    }
  }
}
